@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

body{
	background-color: whitesmoke;
	/*background: #049CFD;*/
/***************************Start Of Navbar ********************/
}
#mainNavbar {
  background: rgb(74,25,0);
  background: linear-gradient(180deg, rgba(74,25,0,1) 0%, rgba(254,211,169,1) 1%, rgba(246,183,107,1) 99%, rgba(67,28,29,1) 100%);
}


.mainContainer {
	position: relative;
	padding: 0;
	padding: 0;
}

.navbar a {
	font-family: 'Days One', sans-serif;
  font-size: 1.2rem;
  
}

.navbar span {
	color: #FF3131;
}

.nav-item {
  font-size: 1.2rem;
}


/*------------------------------------------  Start of Header -------------------------------------------------*/

.homeCont {
  background-image: ;
}

.rounded-circle {
	max-width: 20%
}

#row1-landing{
	padding-top: 6rem
}
.languagesText {
	font-family: 'Poppins', sans-serif;
	color: whitesmoke;
	font-size: 3rem;

  background: rgb(67,28,29);
  background: linear-gradient(137deg, rgba(67,28,29,1) 1%, rgba(246,183,107,1) 4%, rgba(254,211,169,1) 92%, rgba(74,25,0,1) 99%);
}

.languages {
	text-align: start;
	font-family: 'Poppins', sans-serif;

}

.languages h3{
	font-size: 1.2rem;
	color: black;
}

.text1 {
	font-size: 3rem;
	margin-bottom: 20px;
  color: black;
	position: relative;
	animation:text 5s 1;
}

.text2 {
	font-size: 2rem;
	color: black;
  font-weight: 300;
}

@keyframes text {
	0% {
		
		margin-bottom: -20px;
	}
	30%{
		letter-spacing: 15px;
		margin-bottom:-20%;
	}
	85%{
		letter-spacing: 3px;
		margin-bottom:-20;
	}
}

.bgIntro {
  background-image: url("./images/bg01.jpg");
  /*background-repeat: no-repeat;*/
  width:100%;
  background-size: cover;
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

}
.nameIntro{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.videoBg {
	position: absolute;
	right: 0;
	width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.videoBg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
  opacity: 0.8;
}
.textAbsolute{
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 100px;
	
}
.textAbsolute .display-4, .display-5 {
	font-weight: 500;
	
}
.textAbsolute h5 {
	font-weight: 500;
	font-style: italic;
}

.welcomeMessage {
	font-family: 'Roboto', sans-serif;
	background: ;
}
/*------------------------------------------  End of Header -------------------------------------------------*/

/*------------------------------------------  Start of About Me -------------------------------------------------*/




#aboutMe {
  font-family: 'Days One', sans-serif;
}


.imgGlow:hover {
  box-shadow: 0 0 3px #ff6600, 0 0 7px #ff6600, 0 0 20px #ff6600;
 
}

.dashedLine {
  border-top: 3px dashed #bbb;
}

/*animated*/
.textAnimated {
  position: relative;
  font-size: 2vw;
  color: white;
  -webkit-text-stroke:0.1vw black;
  text-transform: uppercase;
}
.textAnimated::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 20%;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0vw red;
  border-right:1px solid blue;
  overflow:hidden;
  animation: animate 10s linear infinite;
}

@keyframes animate
{
  0%,20%,40%,60%
  {
    width:0;
  }
  30%,50%
  {
    width:60%;
  }
}

#about {
  margin-bottom: 5rem;

}
#webTools img {
  width: 7rem;
  margin-bottom: 5rem;
}


/*------------------------------------------  End of About Me -------------------------------------------------*/




/*------------------------------------------  Start of Projects -------------------------------------------------*/
.projectHead {
  background: rgb(67,28,29);
  background: linear-gradient(137deg, rgba(67,28,29,1) 2%, rgba(246,183,107,1) 28%, rgba(74,25,0,1) 85%, rgba(254,211,169,1) 99%);
}
.carousel-item {
  background-color: #ececec;
  
}

.carouselContainer1 {
	margin-bottom: 4rem;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background: #f6b76b;
}
.carouselContainer2 {
  margin-bottom: 4rem;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background: #f6b76b;
}

.bgRed h2 {
  font-family: 'Days One', sans-serif;
}


#aniproject{
  font-family: 'Days One', sans-serif;
  position: relative;
  font-size: 2vw;
  color: white;
  -webkit-text-stroke:0.1vw black;
  /*text-transform: uppercase;*/
}
#aniproject::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 20%;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0vw red;
  border-right:1px solid blue;
  overflow:hidden;
  animation: animate 10s linear infinite;
}

@keyframes animate
{
  0%,10%,50%,70%,90%
  {
    width:0;
  }
  40%,80%
  {
    width:100%;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: gray;
}
/*------------------------------------------  End of Projects -------------------------------------------------*/

/*------------------------------------------  Start of Contacts -------------------------------------------------*/

.ContactH1 {
  font-family: 'Days One', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
#contactForm h4{
  opacity: 90%;
  font-weight: 300;
}
.contactBg {
  background: #c5c5c6
  background: rgb(67,28,29);
  background: linear-gradient(137deg, rgba(67,28,29,1) 2%, rgba(246,183,107,1) 7%, rgba(254,211,169,1) 90%, rgba(74,25,0,1) 99%);
;
}
.cardBg {
  background: rgb(67,28,29);
  background: linear-gradient(137deg, rgba(67,28,29,1) 2%, rgba(246,183,107,1) 7%, rgba(254,211,169,1) 90%, rgba(74,25,0,1) 99%);
  opacity: .95;
}

/*------------------------------------------  End of Contacts -------------------------------------------------*/

/*------------------------------------------  Start of Parallax -------------------------------------------------*/

.para1 {
  background-image:url(./images/programmer.jpg);
  background-size: 100%; 
  min-height: 400px;
}

.para2 {
  background-image:url(./images/php.jpg);
  background-size: 100%; 
  min-height: 400px;
}

.para1, .para2{
  position: relative;
  opacity:0.8;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

/*------------------------------------------  End of Parallax -------------------------------------------------*/

/* =================================================================start of footer=========================================================== */

footer {
  --color-bright: #f2f1c6;
  --color-orange: orangered;
  --body-background-color: #f6b76b;
  padding-top: 15px;   
  padding-bottom: 0;
  background: var(--body-background-color);
  border-top: 1px solid orangered;  
}

#footerMain .intro {
  text-align: center;
  padding-top: 5px;
  background-color:#f6b76b;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

#footerMain .socialMedia {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
} 

#footerMain .footerMenu {s
  font-size: 1.2rem;
  padding:10px 0;
  background-color:#f6b76b;
  color:white;
  text-align: center;
}
  
  
#footerMain .footermenu ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  
}  

#footerMain .footermenu ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  
}
  
#footerMain .footerMenu li {
  padding:0 5px;
}

#footerMain .footerMenu li:hover {
  padding:0 10px;
  color: blue;
}

#footerMain .footerMenu ul a {
  color:inherit;
  text-decoration:none;
 
}

#footerMain .footerMenu ul a:hover {
  opacity:1;
}


#footerMain .footerMenu .copyright {
  margin-top:15px;
  text-align:center;
  font-size:1.2rem;
  color:white;
  font-weight: 600;
  margin-bottom:0;
}

/* ===== social media ===== */



#intro {
  color: var(--color-bright);
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

#contact-info {
  width:100%;
  height:100%;
  padding-top: 15px;
}

#contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info .links {
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

#contact-info a {
  text-decoration: none;
  color: var(--color-bright);
  font-size: 2rem;
}

  
  
  
/* ****************** */
/* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
#contact-info .links a {
  display: block;
  position: relative;
}

#contact-info .links a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: all .3s;
}

#contact-info .links a:hover::after {
  /* transform: rotate(35deg) skew(-20deg); */
  --transformed-box-diagonal-length: 164%;
  width: var(--transformed-box-diagonal-length);
  left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
}
/* ****************** */
  
  
#contact-info .links a div {
  position: relative;
  display: block;
  width: 55px; 
  height: 55px;
  transition: transform .3s;
}
  
  
#contact-info .links a:hover div {
  transform: rotate(-35deg) skew(20deg);
}
  
.links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* transition-property: opacity, transform;
  transition-duration: 0.5s; */
  border: 1px solid var(--color-bright);
  /* border-color: var(--color-bright); */
  border-radius: 5px;
}
  
.links a span:nth-child(5) {
  display: flex; 
  justify-content: center;
  align-items: center;
  
  position: relative;
  /* border-color: var(--color-bright); */
}
  
.links a:hover span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
  
}
.links a:hover span:nth-child(4) {
  transform: translate(15px, -15px);
 opacity: .8;
}
.links a:hover span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: .6;
}
.links a:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: .4;
}
.links a:hover span:nth-child(1) {
   opacity: .2;
}
  
/* orange background spans */
.links a.orange-background span {
  background: var(--color-orange);
  border-color: var(--color-bright);
}
.links a.orange-background span:nth-child(5) {
  background: var(--body-background-color);
}
  
  
/* orange shadow */
.links a.orange-shadow:hover span {
  box-shadow: -1px 1px 3px var(--color-orange);
}
  
/* orange border  */
.links a.orange-border span {
  border-color: var(--color-orange);
}
.links a.orange-border span:nth-child(5) {
  border-color: var(--color-bright);
}

/* -----------------------------carousel*/





/* ==========================================================================end of footer========================================================= */
.navbar.scrolled{
  color: white;
  background: #ffb24d;
  transition: 400ms;
  border-bottom: .1px solid orangered;
}
.abc.ncolor {
  color: white;
}

.nav-item:hover {
  text-shadow: 0 0 3px #ff6600, 0 0 7px #ff6600, 0 0 20px #ff6600;
  color: orangered;
}
/******************************  Carousel  ******************************/

/*-------------------------------------Media Query----------------------------------------------*/
    
@media (max-width:990px){
      
  #contact-info .links {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
  }

  .bgIntro h1, h5 {
    font-size: 150%;
    font-weight: 300;
  }

.story {
  font-size: 80%;
  padding: 10px 10px;
}

#aboutMe {
  font-size: 2rem;
  
}
.dashedLine {
  margin-bottom: 2rem;
}
#webTools img {
  width: 5rem;
  margin-bottom: 1rem;
}